@model DemoMegaDev.Models.Blog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Image != null)
            {
                <img src="@Url.Content("~")/@Html.DisplayFor(model => model.Image.File)" width="350" alt="@Html.DisplayFor(model => model.Image.AltTitle)" />
            } else
            {
                <img src="~/Images/no-image-available.png" alt="no image available" width="350">
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Excerpt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Excerpt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
